# Dependencies
node_modules
.pnp
.pnp.js

# Production build
dist
build

# Environment variables & local keys
.env
.env.local
.env.*.local
server/data/*.json
!server/data/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
local.properties
